<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="search-model" th:fragment="search">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <label for="search-input"></label><input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
</body>
</html>